@addTagHelper *, CasaDoCodigo.MVC
@using CasaDoCodigo.MVC.Areas.Catalogo.Models.ViewModels
@model CategoriasViewModel

<div class="container">
    @foreach (var categoria in Model.Categorias)
    {
        <vc:carrosel-principal categoria="@categoria" produtos="@Model.Produtos" tamanho-da-pagina="@Model.TamanhoPagina" />
    }
</div>